<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.filedemo.dao.BusDAO">    <resultMap id="BaseResultMap" type="com.filedemo.dto.BusDTO">        <result column="id" jdbcType="INTEGER" property="id" />        <result column="bus_name" jdbcType="INTEGER" property="busName" />        <result column="scrq" jdbcType="TIMESTAMP" property="scrq" />    </resultMap>    <insert id="addBus">        insert into bus (bus_name) value (#{busName})    </insert></mapper>